<div class="row">

  <div [ngClass]="{'col-sm-6': alunoSelecionado, 'col-sm-12': !alunoSelecionado}" >
    <app-titulo [titulo]="titulo"></app-titulo>
    <br>
    Selecione um Aluno:
  
    <table class="table table-hover" >
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let aluno of alunos'>
          <th scope="row">{{aluno.id}}</th>
          <td>{{aluno.nome}}</td>
          <td>{{aluno.sobrenome}}</td>
          <td>{{aluno.telefone}}</td>
          <td>
            <div class="btn-group">
              <button (click)="alunoSelect(aluno)" class="btn btn-sm btn-outline-success">Visualizar</button>
              <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">Professores</button>
              <button class="btn btn-sm btn-outline-danger">Desativar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6" *ngIf='alunoSelecionado'>
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="alunoSelecionado.nome +' '+ alunoSelecionado.sobrenome"></app-titulo>
      </div>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-sm btn-outline-danger" (click)='voltar()'>Fechar</button>
      </div>
    </div>
  
    <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
      <div class="form-group mt-4">
        <label for="formGroupExempleInput">Codigo:</label>
        <input type="text" formControlName="id" disabled=true class="form-control">
      </div>
      <div class="form-group mt-2">
        <label for="formGroupExempleInput">Nome:</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <div class="form-group mt-2">
        <label for="formGroupExempleInput2">Sobrenome:</label>
        <input type="text" formControlName="sobrenome" class="form-control">
      </div>
      <div class="form-group mt-2">
        <label for="formGroupExempleInput2">Telefone:</label>
        <input type="text" formControlName="telefone" class="form-control">
      </div>
      <div class="form-group mt-2">        
        <button class="btn btn-success" [disabled]="!alunoForm.valid">Salvar</button>
      </div>
    </form>  
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-professores></app-professores>
  </div>
  <div class="div modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
      Fechar
    </button>    
  </div>
</ng-template>
